body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
 
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    border-radius: 15px;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    border-radius: 15px;
  }
  
  .future {
    background-color: #77dd77;
    border-radius: 15px;
  }
  
  .saveBtn {
    border-left: 1px solid rgba(0, 0, 0, 0.674);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2f90e0;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 30px;
    transition: all 0.2s ease-in-out;
  }
  
  footer {
    background-color: #3c3d41;
    padding: 40px 20px;
    color: rgba(255,255,255,1.00);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
  }